@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

:root{
    --dark-blue: #181E36;
    --light-blue: #1F2C4F;
    --purple: #5A5DF5;
    --grey: #a8a8a8 ;
    --white: #E5EBF7;
    --body-bg: #e7e7e9;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: var(--body-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
nav button{
    display: none;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: transparent;
    overflow-x: hidden;
}
nav{
    width: 100%;
    height: 100px;
    background-color:var(--dark-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
.name-container{
    color: var(--white);
    width: 20%;
}
.name-container .name{
    font-weight: 400;
    letter-spacing: 2px;
}
.name-container .name span{
    font-weight: 700;
    font-size: 2rem;
}
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav-links .link{
    margin: 1rem 2.6rem;
    color: var(--white);
    text-decoration: none;
    letter-spacing: 2px;
    transition:  transform .3s ease;
}
.nav-links .link:hover{
   color: #ffb703;
   transform: scale(1.2);
   font-weight: 700;
}
.nav-links .logout:hover{
    color: #d00000;
    transform: scale(1.2);
    font-weight: 700;
 }
main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

  /* dashboard page styles  */

  .dashboard-container {
      background: url('../assets/images/lifeform_background.jpg')
  }
.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
  display: table;
  clear: both;
}

.card {
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.158);
    box-shadow: 18px -5px 215px -38px rgba(0,0,0,0.75);
    -webkit-box-shadow: 18px -5px 215px -38px rgba(0,0,0,0.75);
    -moz-box-shadow: 18px -5px 215px -38px rgba(0,0,0,0.75);
    border-radius: 20px;
    text-align: center;
    justify-content: center;
} 

.dash_column {
    float: left;
    width: 50%;
    padding: 5px 10px;
    padding-top: 10px;
}

#lifeformAbilities {
    width: 90%;
    height:50%;
}

#abilities {
    width: 80%;
    height: 50%;
}

#physicalDescription {
    height: 50%;
    width: 90%;
    line-height: 1.8;
}

#backstory {
    line-height: 1.8;
    height: 50%;
    
}

#randomName {
    font-size: 15px;
    border-radius:8px;
    padding: 5px 10px;
    border: none;
    font-weight: 500;
    background-color: var(--dark-blue);
    color: var(--white);
    cursor: pointer;
    text-align: center;
    margin: 2px 2px;
}

#randomName:hover {
   color: #ffb703;
}

#randomDisposition {
    font-size: 15px;
    border-radius:8px;
    padding: 5px 10px;
    border: none;
    font-weight: 500;
    background-color: var(--dark-blue);
    color: var(--white);
    cursor: pointer;
    text-align: center;
    margin: 2px 2px;

}
#randomDisposition:hover {
    color: #ffb703;
 }

 #randomBirth {
    font-size: 15px;
    border-radius:8px;
    padding: 5px 10px;
    border: none;
    background-color: var(--dark-blue);
    color: var(--white);
    cursor: pointer;
    text-align: center;
    margin: 2px 2px;

 }
 #randomBirth:hover {
    color: #ffb703;
 }
 
 #randomReason {
    font-size: 15px;
    border-radius:8px;
    padding: 5px 10px;
    border: none;
    background-color: var(--dark-blue);
    color: var(--white);
    transition: transform .3s ease-in-out;
    cursor: pointer;
    text-align: center;
    margin: 2px 2px;
 }
 #randomReason:hover {
    color: #ffb703;
 }

 #randomLocomotion {
    font-size: 15px;
    border-radius:8px;
    padding: 5px 10px;
    border: none;
    background-color: var(--dark-blue);
    color: var(--white);
    transition: transform .3s ease-in-out;
    cursor: pointer;
    text-align: center;
    margin: 2px 2px;
 }

 #randomLocomotion:hover {
    color: #ffb703;
 }

 #randomUpper {
    font-size: 15px;
    border-radius:8px;
    padding: 5px 10px;
    border: none;
    background-color: var(--dark-blue);
    color: var(--white);
    cursor: pointer;
    text-align: center;
    margin: 2px 2px;
 }

 #randomUpper:hover {
     color: #ffb703;
 }

 #randomHead {
    font-size: 15px;
    border-radius:8px;
    padding: 5px 10px;
    border: none;
    background-color: var(--dark-blue);
    color: var(--white);
    cursor: pointer;
    text-align: center;
    margin: 2px 2px;
 }

 #randomHead:hover {
    color: #ffb703;
 }

 #randomFace {
    font-size: 15px;
    border-radius:8px;
    padding: 5px 10px;
    border: none;
    background-color: var(--dark-blue);
    color: var(--white);
    transition: transform .3s ease-in-out;
    cursor: pointer;
    text-align: center;
    margin: 2px 2px;
 }

 #randomFace:hover {
    color: #ffb703;
 }

 #randomMouth {
    font-size: 15px;
    border-radius:8px;
    padding: 5px 10px;
    border: none;
    background-color: var(--dark-blue);
    color: var(--white);
    transition: transform .3s ease-in-out;
    cursor: pointer;
    text-align: center;
    margin: 2px 2px;

 }

 #randomMouth:hover {
    color: #ffb703;
 }

 #randomEyes {
    font-size: 15px;
    border-radius:8px;
    padding: 5px 10px;
    border: none;
    background-color: var(--dark-blue);
    color: var(--white);
    transition: transform .3s ease-in-out;
    cursor: pointer;
    text-align: center;
    margin: 2px 2px;
 }

 #randomEyes:hover {
     color: #ffb703;
 }



 #randomNose {
    font-size: 15px;
    border-radius:8px;
    padding: 5px 10px;
    border: none;
    background-color: var(--dark-blue);
    color: var(--white);
    transition: transform .3s ease-in-out;
    cursor: pointer;
    text-align: center;
    margin: 2px 2px;
 }

 #randomNose:hover {
    color: #ffb703;
 }

 #randomEars {
    font-size: 15px;
    border-radius:8px;
    padding: 5px 10px;
    border: none;
    background-color: var(--dark-blue);
    color: var(--white);
    transition: transform .3s ease-in-out;
    cursor: pointer;
    text-align: center;
    margin: 2px 2px;
 }

 #randomEars:hover {
     color: #ffb703;
 }

 #randomSkin {
    font-size: 15px;
    border-radius:8px;
    padding: 5px 10px;
    border: none;
    background-color: var(--dark-blue);
    color: var(--white);
    transition: transform .3s ease-in-out;
    cursor: pointer;
    text-align: center;
    margin: 2px 2px;

 }

 #randomSkin:hover {
     color: #ffb703;
 }

 #randomOther {
    font-size: 15px;
    border-radius:8px;
    padding: 5px 10px;
    border: none;
    background-color: var(--dark-blue);
    color: var(--white);
    transition: transform .3s ease-in-out;
    cursor: pointer;
    text-align: center;
    margin: 2px 2px;

 }

 #randomOther:hover {
    color: #ffb703;
 }

 #randomAbilities {
    font-size: 15px;
    border-radius:8px;
    padding: 5px 10px;
    border: none;
    background-color: var(--dark-blue);
    color: var(--white);
    transition: transform .3s ease-in-out;
    cursor: pointer;
    text-align: center;
    margin: 2px 2px;

 }

 #randomAbilities:hover {
     color: #ffb703;
 }

 #generateLifeform {
    font-size: 15px;
    border-radius:8px;
    padding: 5px 10px;
    border: none;
    background-color: var(--dark-blue);
    color: var(--white);
    transition: transform .3s ease-in-out;
    cursor: pointer;
    text-align: center;
    margin: 2px 2px;

 }

 #generateLifeform:hover {
    color: #ffb703;
 }

 #saveLifeform {
    font-size: 15px;
    border-radius:8px;
    padding: 5px 10px;
    border: none;
    background-color: var(--dark-blue);
    color: var(--white);
    transition: transform .3s ease-in-out;
    cursor: pointer;
    text-align: center;
    margin: 2px 2px;

 }

 #saveLifeform:hover {
     color: #ffb703;
 }

 .card, h3 {
     font-weight: bold;
 }

 /* card input fields */
 .card input {
    width: 90%;
    display: inline-block;
    height: 30px;
    padding: 5px 20px;
    outline: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 8px;
    margin: 10px 0;
    outline-style: none;
    font-size: 1rem;
    cursor: pointer;
    box-sizing: border-box;
 }



 /* card textarea fields */
 .card textarea {
     width: 90%;
     height: 80px;
     padding: 8px 10px;
     outline: none;
     border-radius: 8px;
     border: none;
     margin: 8px  0;
     outline-style: none;
     font-size: 1rem;
     background-color: var(--dark-blue);
     color: var(--white);
     cursor: pointer;
     box-sizing: border-box;
 }

 .card textarea:hover {
     color: #ffb703;
 }


 .scroll::-webkit-scrollbar {
    display: none;
  }
 
 #name {
     padding-bottom: 8px;
 }
 


/* dashboard page styles end */



footer{
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: enter;
    width: 100%;
    height: 100px;
}
footer p{
    text-align: center;
    margin-bottom: 1rem;
    color: var(--white);
    font-size: 14px;
}
/* MEDIA QUERIES */

@media screen and (max-width: 1097px){
   
    .name-container{
        color: var(--white);
        width: 40%;
    }
    .name-container .name{
        font-weight: 400;
        letter-spacing: 2px;
    }

    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .dash_column {
        width: 95%;
        display: block;
        margin: 20px;
    }
}

@media screen and (max-width: 892px){
   
    nav{
       position: relative;
    }
    .nav-links{
        position: absolute;
        top: 100px;
        right: -20px;
        background-color: var(--dark-blue);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 300px;
        height: 100vh;
        transform: translateX(200%);
        transition: transform .3s ease-in-out;
    }
    .nav-links .link{
        margin: 3rem;
    }
    nav button {
        display: block;
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: 2px solid var(--white);
        cursor: pointer;
        outline: none;
    }
    nav button .fa-bars{
        font-size: 1.5rem;
        color: var(--white);
    }
    .nav-links.slide{
      transform: translateX(0);
    }
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

     .dash_column {
        width: 95%;
        display: block;
        margin: 20px;
    }

}

@media screen and (max-width: 599px){
    nav .name-container{
      width: 100%;
    }
}