@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

:root{
    --dark-blue: #181E36;
    --light-blue: #1F2C4F;
    --purple: #5A5DF5;
    --grey: #a8a8a8 ;
    --white: #E5EBF7;
    --body-bg: #e7e7e9;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: var(--body-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
nav .menu-icon{
    display: none;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: url('../assets/images/tech_bg.jpg');
    background-position: top;
    background-size: 100%;
    overflow-x: hidden;
}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
.name-container{
    color: var(--white);
    width: 20%;
}
.name-container .name{
    font-weight: 400;
    letter-spacing: 2px;
}
.name-container .name span{
    font-weight: 700;
    font-size: 2rem;
}
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links .link{
    margin: 1rem 2.6rem;
    color: var(--white);
    text-decoration: none;
    letter-spacing: 2px;
    transition:  transform .3s ease;
}

.nav-links .link:hover{
   color: #ffb703;
   transform: scale(1.2);
   font-weight: 700;
}

.nav-links .logout:hover{
    color: #d00000;
    transform: scale(1.2);
    font-weight: 700;
}

main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 12px;
}
/* HOMEPAGE CARD */
main .card-figure{
    width: 450px;
    height: 430px;
    background-image: linear-gradient(to right top, #181e36, #1c2440, #202a4b, #243056, #283661, #2a3c71, #2c4281, #2f4891, #344eaa, #3c54c4, #4959dc, #5a5df5);
    padding: 10px;
    border-radius: 10px;
    box-shadow: -3px 5px 11px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 5px 11px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 5px 11px -4px rgba(0,0,0,0.75);
    margin: .6rem;
    color:  var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .card-figure .top-panel,
main .card-figure .bottom-panel {
    width: 100%;
    height: 50%;
    padding: 0 15px;
}
main .card-figure .top-panel h1{
    font-size: 4.5rem;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 2px;
}
main .card-figure .top-panel .info{
    line-height: 1.8;
    font-size: 1rem;
}
main .card-figure .top-panel .backstory{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

main .card-figure .top-panel .info span{
    font-weight: 700;
    text-transform: capitalize;
}
main .card-figure .bottom-panel{
    background-color: transparent;
    border-radius: 15px;
    padding-top: 10px;
    margin-top: 1rem;
}
main .card-figure .bottom-panel span{
    font-weight: 700;
    text-transform: capitalize;
    color: var(--white);

}
main .card-figure .bottom-panel .abilities{
    margin-top: 1rem;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #fff;
}
main .card-figure .bottom-panel .abilities .ability{
    width: 33.33%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    margin: 0 auto;
    color: #333;
    text-transform: capitalize;
}
main .card-figure .bottom-panel .abilities .ability:nth-child(2){
    border-left: 2px solid rgb(226, 226, 226);
    border-right: 2px solid  rgb(226, 226, 226);
}

main .cta{
    width: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
main .cta a{
   padding: 15px 1.3rem;
    border: 2px solid var(--white);
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 10px;
    transition: background-color .2s ease-in-out;
}
main .cta a:hover{
    background-color: var(--white);
    color: var(--purple);
    font-weight: 700;
}
/* END OF HOMEPAGE CARD */
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

  .dashboard-container {
    width: 100%;
  }

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
  display: table;
  clear: both;
}

.card {
    text-align: center;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 170, 0.64), rgba(20, 20, 190, 0.14)), url(../assets/images/tech_bg_light.jpg);
    background-position: top;
    background-position-x: -1000px;
    background-size: cover;
    box-shadow: 18px -5px 215px -38px rgba(0,0,0,0.75);
    -webkit-box-shadow: 18px -5px 215px -38px rgba(0,0,0,0.75);
    -moz-box-shadow: 18px -5px 215px -38px rgba(0,0,0,0.75);
    border-radius: 20px;
} 

.fortnite-btn {
    background: linear-gradient(#ffb703, #fce770);
    font-family: 'Audiowide';
  /* transform: skew(-5deg); */
}

.fortnite-btn-inner {
    /* background: linear-gradient(#ffb703, #fad818);
    transform: skew(-5deg); */
  color: #343F65;
}

.fortnite-btn-inner:hover {
    color: white;
}

.card button {
    font-size: 15px;
    border-radius:8px;
    padding: 10px 10px;
    border: none;
    font-weight: 500;
    background-color: var(--dark-blue);
    color: var(--white);
    cursor: pointer;
    text-align: center;
    margin-right: 10px;
    vertical-align: bottom;
    outline: none;
}

.card button:hover {
    color: #ffb703;
}

.dash_column {
    float: left;
    width: 50%;
    padding: 5px 10px;
    padding-top: 10px;
}

.randomizer_content {
    display:grid;
}

.randomizer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px
}

 .card, h3 {
     font-weight: bold;
     color: var(--white);
     text-align: center;
     padding: 4px;
 }

 /* card input fields */
 .card input {
    width: 70%;
    display: inline-block;
    height: 40px;
    padding: 5px 20px;
    outline: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 8px;
    margin: 10px 0;
    outline-style: none;
    font-size: 12px;
    cursor: pointer;
 }



 /* card textarea fields */
 .card textarea {
     padding: 20px;
     outline: none;
     border-radius: 8px;
     border: none;
     margin: 20px;
     outline-style: none;
     font-size: 1rem;
     background-color: var(--dark-blue);
     color: var(--white);
     cursor: pointer;
     box-sizing: border-box;
     width: 95%;
     min-height: 50%;
     height: fit-content;
     resize: vertical;
     line-height: 1.5;

 }

 .card textarea:hover {
     color: #ffb703;
 }


 .scroll::-webkit-scrollbar {
    display: none;
  }
 
 #name {
     padding-bottom: 8px;
     font-size: xx-large;
     font-weight: bold;
     text-align: center;
     width: 50%;
 }


/* dashboard page styles end */



footer{
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}
footer p{
    text-align: center;
    margin-bottom: 1rem;
    color: var(--white);
    font-size: 14px;
}

.new_lifeform {
    margin: 20px;
    justify-self: right;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1097px){
   
    .name-container{
        color: var(--white);
        width: 40%;
    }
    .name-container .name{
        font-weight: 400;
        letter-spacing: 2px;
    }

     .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    } 

    .dash_column {
        width: 95%;
        margin: 20px;
    }

    .card input {
        font-size: 18px;
    }


}

@media screen and (max-width: 892px){
   
    nav{
       position: relative;
    }
    .nav-links{
        position: absolute;
        top: 100px;
        right: -20px;
        background-color: var(--dark-blue);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 300px;
        height: 100vh;
        transform: translateX(200%);
        transition: transform .3s ease-in-out;
    }
    .nav-links .link{
        margin: 3rem;
    }
    nav .menu-icon {
        display: block;
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: 2px solid var(--white);
        cursor: pointer;
        outline: none;
    }
    nav .menu-icon .fa-bars{
        font-size: 1.5rem;
        color: var(--white);
    }
    .nav-links.slide{
      transform: translateX(0);
    }
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

     .dash_column {
        width: 95%;
        display: block;
        margin: 20px;
    }

    .card input {
        font-size: 14px;
    }

    .randomizer {
        padding-right: 20px
    }
}

@media screen and (max-width: 599px){
    nav .name-container{
      width: 100%;
    }
}