@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

:root{
    --dark-blue: #181E36;
    --light-blue: #2d3f70;
    --purple: #5A5DF5;
    --grey: #a8a8a8 ;
    --white: #E5EBF7;
    --body-bg: #e7e7e9;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    background: url('../assets/images/tech_bg.jpg');
    background-position: top;
    background-size: 100%;
    overflow-x: hidden;
}
span{
    text-transform: capitalize;
    font-weight: 700;
    text-align: left;
}
h1, .info, span{
    color: var(--white);
}
.wrapper{
    width: 100%;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
.wrapper .card{
    width: 500px;
    height: 725px;
    border-radius: 20px;
    background: url('../assets/images/tech_bg_light.jpg');
    background-position: top;
    background-size:cover;
    padding: 40px 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: width .3s ease-in-out;
    margin: 2rem;
    box-shadow: -3px 5px 11px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 5px 11px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 5px 11px -4px rgba(0,0,0,0.75);
}
.wrapper .card:hover{
    width: 1000px;

}
.wrapper .card:hover ::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.wrapper .card .mini-box{
    position: absolute;
    width: 350px;
    height: 350px;
    top: 10rem;
    left: -6rem;
    z-index: 20;
    background-image: linear-gradient(to right top, #181e36, #1c2440, #202a4b, #243056, #283661, #2a3c71, #2c4281, #2f4891, #344eaa, #3c54c4, #4959dc, #5a5df5);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: -3px 5px 11px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 5px 11px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 5px 11px -4px rgba(0,0,0,0.75);
    line-height: 1.4;
}
.wrapper .card .mini-box .bottom-panel{
    padding-top: 1rem;
}
.wrapper .card .content{
    position: relative;
    left: 16rem;
    visibility: hidden;
    opacity: 0;
}
.wrapper .card:hover .content{
    width: 73%;
    visibility: visible;
    opacity: 1;
    overflow-y: scroll;
    line-height: 1.8;
}

.inner-mini h1{
    font-size: 4rem;
    font-weight: 700;
    text-transform: capitalize;
}

.wrapper .card .mini-box .inner-mini{
   display: flex;
   flex-direction: column;
}
.wrapper .card .mini-box .inner-mini .backstory{
    width: 100%; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.wrapper .card .mini-box .inner-mini .info{
    text-align: left;
}

p{
    max-width: 60ch;
}

.wrapper .card .mini-box .abilities{
    display: flex;
    width: 100%;
    height: 80px;
    border-radius: 15px;
    background-color:#fff;
}
.wrapper .card .mini-box .abilities .ability{
    width: calc(95% / 3);
    height: 90%;
    margin: 4px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
    text-transform: capitalize;
    font-weight: bold;
}

.wrapper .card .content .info{
    color: #000;
}
.wrapper .card .content .info span{
    color: #000;
    font-weight: 700;
}
.wrapper .card .content .comment{
    background-color: var(--purple);
    color: var(--white);
    padding: 12px 2rem;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 10px;
    font-weight: 700;
    display: inline-block;
    transition: opacity .3s ease;
}

.wrapper .card .content .comment:hover{
    opacity: .8;
}

/* COMMENT FORM */
.wrapper  .comment-form{
    margin-top: 1rem;
    transform: translate(30%);
    width: 100%;
    height: 250px;
}
.wrapper  .comment-form textarea{
    width: 40%;
    height: 200px;
    margin-bottom: 10px;
    color: #000;
    resize: none;
    font-size: 1.4rem;
    padding: 10px;
    outline: none;
    border-radius: 15px;
}
.wrapper .comment-form .comment-btn{
    width: 40%;
    height: 70px;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper  .comment-form .comment-btn button{
    padding: 15px 1.3rem;
    border: 2px solid var(--white);
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 10px;
    transition: background-color .2s ease-in-out;
    margin: 0px 5px;
    outline: none;
}

.wrapper  .comment-form .comment-btn button:hover{
    background-color: var(--purple);
    color: var(--white);
    font-weight: 700;
}

.wrapper  .comment-form .comment-btn .delete-alien-btn:hover{
    background-color: red;
    color: var(--white);
    font-weight: 700;
}

/* END OF COMMENT FORM */


/* DISPLAY RECENT COMMENTS */
.wrapper .recent-comments{
    width: 40%;
    background-color: rgba(189, 204, 255, 0.76);
    height: auto;
    margin-top: 3.5rem;
    padding:20px;
    border-radius: 15px;
    line-height: 1.5;
    font-weight: bolder;
}
.wrapper .recent-comments .recent-comments-body{
    margin-top: 1rem;
    min-height: 50px;
}
.wrapper .recent-comments .recent-comment-tile{
    color: var(--purple);
}
.wrapper .recent-comments .date{
    color: #000;
    font-weight: 400;
    text-transform: none;
}



/* MEDIA QUERIES */
@media screen and (max-width: 900px){
    .wrapper .card{
        transition: height .3s ease;
        margin-bottom: 5.5rem;
        top: 3rem;
        width: 400px;
        height: 1350px;
    }

    .wrapper .card .content{
        position: relative;
        left: 16rem;
        visibility: unset;
        opacity: 1;
    }

    .wrapper .card .mini-box{
        top: -6rem;
        left: 2rem;
    }

    .wrapper .card .content{
        width: 90%; 
        height: fit-content;
        top: 16.5rem;
        left: 1rem;
        line-height: 1.8;
    }
    .wrapper .card:hover .content{
        width: unset;
        visibility: visible;
        opacity: 1;
    }
   
    .wrapper .recent-comments{
        width: 100%;
    }
    .wrapper  .comment-form{
        width: 100%;
        transform: translate(0);
    }
    .wrapper  .comment-form textarea{
        width: 100%;
    }
    .wrapper .comment-form .comment-btn{
        width: 100%;
     
    }
   
}
@media screen and (max-width: 555px) and (min-width: 500px){
    button,.wrapper  .comment-form .comment-btn button{
        font-size: 12px;
    }

}
@media screen and (max-width: 500px){
    /* button,.wrapper .upvote-btn{
        font-size: 12px;
    } */

}


