<%- include('../template/head') %>

    <body>

        <div class="container">
            <% if(loggedIn) {%>
                <%- include('../template/nav') %>
                    <%- include('../template/main') %>
                        <% } %>



        </div>
        <% if(loggedIn) {%>
            <script src="https://kit.fontawesome.com/0cb0e7b636.js" crossorigin="anonymous"></script>
            <script src="../../javascript/homepage.js"></script>
            <script src="../../javascript/logout.js"></script>
            <% } %>

    </body>