<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <link rel="stylesheet" href="/stylesheets/nav-styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.4/tailwind.min.css" integrity="sha512-paVHVRRhdoOu1nOXKnqDC1Vka0nh7FAmU3nsM4n2FKxOQTeF6crMdMfkVvEsuaOXZ6oEAVL5+wLbQcule/Xdag==" crossorigin="anonymous" />
    <title>Card</title>
</head>


<body>
    <%- include('./nav') %>
    <div>
        <div class="wrapper">
            <div class="card">
                <div class="mini-box">
                    <div class="inner-mini">
                        <h1>
                            TEAM 6
                        </h1>
                        <p class="info"><span>Team:</span> Taylor Gentry, Ebenezer Kankam, Dustin Micklos, J Scott Rumptz, and Aaliyah Symlar</p>
                        <p class="info backstory"><span>Backstory:</span>
                            We met in this janky bootcamp
                        </p>
                        <p class="info"><span>Locamotion:</span>
                            Moonwalking
                        </p>
                    </div>

                    <div class="bottom-panel">
                        <span>Abilities</span>
                        <div class="abilities">
                                <div class="ability">
                                    Kicking ass
                                </div>
                                <div class="ability">
                                    Fucking with Raine
                                </div>
                        </div>
                    </div>

                </div>
                <div class="content">
                    <p class="info"><span>What is this?</span>
                        This app was created to help to inspire game masters, artists, and players in the endeavor of character creation and design. Each lifeform will be generated with a random backstory, physical description, and list of abilities!
                    </p>
                    <br>
                    <p class="info"><span>How to use it:</span>
                        Generate a random lifeform and then use the 'Randomize' buttons to change any values you may be unhappy with. Once you are happy, click the ‘Save Lifeform’ button.
                    </p>
                    <br>
                    <p class="info"><span>Lifeform  Generator Components:</span></p>
                        <p class="info">
                            <span>Name</span> - When someone says something disparaging about this thing, how will it know it is the target?
                        </p>
                        <p class="info">
                            <span>Disposition</span> - Will this thing make a better car salesman or dominatrix?
                        </p>
                        <p class="info">
                            <span>Birth</span> - If it is going to be the victum of a yo mamma joke, we need to know something about her!
                        </p>
                        <p class="info">
                            <span>Reason</span> - What is this lifeform's why statement on its journey towards self discovery?
                        </p>
                        <p class="info">
                            <span>Locomotion</span> - Locomotion is the first step in the lifeform generation process, and it determines how the character gets around. Locomotion was also found to be the most obvious way to lump infinitely distinctive lifeforms together into broad stereotypes. It is commonplace to hear things like; “Go ask that green fuzzy creeper over there” or “My mate ran off with some bug-eyed flapper”. Because of this, lifeforms are categorized by alien locomotion monikers.
                        </p>
                        <p class="info">
                            <span>Appendage</span> - These are the limbs that the creature will use to interface with various objects in the universe at large.
                        </p>
                        <p class="info">
                            <span>Head</span> - It’s that thing that holds all yer character’s thinky thoughts. It will also determine what kind of neck the character has, if it has one at all.
                        </p>
                        <p class="info">
                            <span>Face</span> - Oh, Is that its face? I’m sorry. They say the eyes are the windows to the soul, but what if you don’t have any?
                        </p>
                        <p class="info">
                            <span>Skin</span> - What keeps this lifeform’s guts from spilling out? This is where we start 'fleshing-out' the alien creation.
                        </p>
                        <p class="info">
                            <span>Features</span> - This is a physical feature that really sets this lifeform apart from others.
                        </p>
                        <p class="info">
                            <span>Abilities</span> - What is the point of creating an alien lifeform if it doesn't have super powers?
                        </p>

                </div>

            </div>
            
        </div>


    </div>
    <%- include('./footer') %>
    <script src="/javascript/homepage.js"></script>
    <script src="https://kit.fontawesome.com/0cb0e7b636.js" crossorigin="anonymous"></script>   
</body>

</html>