<%- include('./head') %>

  <body>

    <!-- Dashboard Content -->
    <div class="dashboard"> 
      <!-- Sidenav -->
      <%- include('./nav') %>

        <!-- page content -->
        <div class="container">

            <!-- placeholder -->
        <div class="grid">
                
              </div> 
        
          </div>
          <%- include('./footer') %>

        </div>

       
     
    <script src="/javascript/homepage.js"></script>
    <script src="/javascript/logout.js"></script>
  </body>
