<%- include('./head') %>

  <body>

    <!-- Dashboard Content -->
    <div class="dashboard">
      <!-- Sidenav -->
      <%- include('./nav') %>
        <!-- page content -->
        <div class="dashboard-container">

          <div>
            <div class="dash_column">
              <div class="card">
                <h1>Build Lifeform</h1>
                <div>
                  <button id='randomName'>Randomize Name</button>
                  <input type="text" id="lifeformName" name="lifeformName" value="Dufrugia" cols="100" readonly>
                </div>
                <div>
                  <button id='randomDisposition'>Randomize Disposition</button>
                  <input type="text" id="lifeformDisposition" name="lifeformDisposition" value="always thinks the glass is half empty, and never feels it gets its fair share." readonly>
                </div>
                <div>
                  <button id='randomBirth'>Randomize Birth</button>
                  <input type="text" id="lifeformBirth" name="lifeformBirth" value="was hatched after an incubation period of 40 years from a nest of 14 eggs" readonly>
                </div>
                <div>
                  <button id='randomReason'>Randomize Reason</button>
                  <input type="text" id="lifeformReason" name="lifeformReason" value="is a refugee who lost its homeworld after its species' contributions to the planet's global cooling." readonly>
                </div>
                <div>
                  <button id='randomLocomotion'>Randomize Locomotion</button>
                  <input type="text" id="lifeformLocomotion" name="lifeformLocomotion" value="a Muscular Flapper (Avian Locomotion)" readonly>
                </div>
                <div>
                  <button id='randomUpper'>Randomize Upper Appendage</button>
                  <input type="text" id="lifeformUpper" name="lifeformUpper" value="two Humanoid arms and humanoid hands. Each with an opposable thumb and a single finger" readonly>
                </div>
                <div>
                  <button id='randomHead'>Randomize Head</button>
                  <input type="text" id="lifeformHead" name="lifeformHead" value="'s Humanoid Head with its Enlarged Cranium features" readonly>
                </div>
                <div>
                  <button id='randomFace'>Randomize Facial Features</button>
                  <input type="text" id="lifeformFace" name="lifeformFace" value="Short Spikes" readonly>
                </div>
                <div>
                  <button id='randomMouth'>Randomize Mouth</button>
                  <input type="text" id="lifeformMouth" name="lifeformMouth" value="Multiple Rows of Teeth" readonly>
                </div>
                <div>
                  <button id='randomEyes'>Randomize Eye</button>
                  <input type="text" id="lifeformEyes" name="lifeformEyes" value="Bulbous" readonly>
                </div>

                <div>
                  <button id='randomNose'>Randomize Nose</button>
                  <input type="text" id="lifeformNose" name="lifeformNose" value="Rhinarium" readonly>
                </div>
                <div>
                  <button id='randomEars'>Randomize Ears</button>
                  <input type="text" id="lifeformEars" name="lifeformEars" value="Small Humanoid" readonly>
                </div>
                <div>
                  <button id='randomSkin'>Randomize Skin</button>
                  <input type="text" id="lifeformSkin" name="lifeformSkin" value="a quarter Scaled Skin with Teal and Lavender Trapezoids and three-quarters Translucent Skin with Small Mint and Grey Stripes" readonly>
                </div>
                <div>
                  <button id='randomOther'>Randomize Other Features</button>
                  <input type="text" id="lifeformOther" name="lifeformOther" value="a multitude of Exposed Cybernetics, a Shell, and a multitude of Antennae" readonly>
                </div>
                <div>
                  <button id='randomAbilities'>Randomize Abilities</button>
                  <textarea id="lifeformAbilities" rows="10" cols="80" class="scroll" readonly>
                    Flight, Size Control"
                  </textarea>
                </div>
                <div>
                  <button id='generateLifeform'>Generate Completely New Lifeform</button>
                  <br>
                </div>
              </div>
            </div>
            <div class="dash_column">
              <div class="card">
                <h1 class>New Lifeform</h1>
                <form>
                  <h3>Name:</h3><br>
                  <input type="text" id="name" name="name" value="Dufrugia" readonly><br>
                  <h3>Backstory:</h3><br>
                  <textarea id="backstory" rows="10" cols="80" class="scroll" readonly>
                    Dufrugia is cocky and self-reliant. It was the only survivor of 173 offspring, the rest were consumed by its parents. Dufrugia is seeking some kind of purpose or answer to existance. Wow, won't it be dissapointed.<br><br>
                  </textarea><br>
                    <h3>Physical Description:</h3><br>
                  <textarea id="physicalDescription" rows="10" cols="80" class="scroll" readonly>
                    Dufrugia is a Muscular Flapper (Avian Locomotion) that imposes its will on surrounding objects and entities using its two Humanoid arms and humanoid hands. Each with an opposable thumb and a single finger. Dufrugia's Humanoid Head with its Enlarged Cranium features Short Spikes. This does nothing to distract one from its Bulbous eyes, Rhinarium, Small Humanoid ears, and Multiple Rows of Teeth! Dufrugia's epidermis is a quarter Scaled Skin with Teal and Lavender Trapezoids and three-quarters Translucent Skin with Small Mint and Grey Stripes, but most notably Dufrugia has a multitude of Exposed Cybernetics, a Shell, and a multitude of Antennae.
                  </textarea><br>
                  <h3>Abilities:</h3><br>
                  <textarea id="abilities" rows=10 cols="80" class="scroll" readonly>
                    Flight - Many creatures have vestigial wings or the ability to hover. This gives your character the ability to fly, baby!<br>
                    Size Control - There are easier way to do this than going on a diet.
                  </textarea>
                  <br>
                    <button id="saveLifeform">Save Lifeform</button>
                </form>
              </div>
            </div>
          </div>
          <%- include('./footer') %>
    </div>
    </div>
    <script src="https://kit.fontawesome.com/0cb0e7b636.js" crossorigin="anonymous"></script>
    <script src="/javascript/homepage.js"></script>
    <script src="/javascript/logout.js"></script>
    <script src="/javascript/randomize.js"></script>
  </body>