
<body>
    <!-- sidebar here ? -->
   
    <!-- Dashboard Content -->
    <div class="main">
    <!-- Sidenav -->
    <% include /nav.ejs %>

    <!-- page content -->
    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <!-- fist card here?-->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p><!-- alien info --> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>


