<%- include('./head') %>
  <body>
    <!-- Dashboard Content -->
    <div class="container">
      <!-- Sidenav -->
      <%- include('./nav') %>
        <!-- page content -->
        <div class="dashboard-container">
          <div>
            <div class="dash_column">
              <div class="card">
                <h1>Build Lifeform</h1>
                <div>
                  <button id='randomName'>Randomize Name</button>
                  <input type="text" id="lifeformName" class="scroll" name="lifeformName" readonly>
                </div>
               
                <div>
                  <button id='randomDisposition'>Randomize Disposition</button>
                  <input type="text" id="lifeformDisposition" name="lifeformDisposition" readonly>
                </div>
                
                <div>
                  <button id='randomBirth'>Randomize Birth</button>
                  <input type="text" id="lifeformBirth" name="lifeformBirth" readonly>
                </div>
                
                <div>
                  <button id='randomReason'>Randomize Reason</button>
                  <input type="text" id="lifeformReason" name="lifeformReason" readonly>
                </div>
                
                <div>
                  <button id='randomLocomotion'>Randomize Locomotion</button>
                  <input type="text" id="lifeformLocomotion" name="lifeformLocomotion"readonly>
                     
                </div>
                
                <div>
                  <button id='randomUpper'>Randomize Upper Appendage</button>
                  <input type="text" id="lifeformUpper" name="lifeformUpper" readonly>

                    
                </div>
                
                <div>
                  <button id='randomHead'>Randomize Head</button>
                  <input type="text" id="lifeformHead" name="lifeformHead"
                     readonly>
                </div>
                
                <div>
                  <button id='randomFace'>Randomize Facial Features</button>
                  <input type="text" id="lifeformFace" name="lifeformFace" readonly>
                </div>
                
                <div>
                  <button id='randomMouth'>Randomize Mouth</button>
                  <input type="text" id="lifeformMouth" name="lifeformMouth"  readonly>
                </div>
                
                <div>
                  <button id='randomEyes'>Randomize Eye</button>
                  <input type="text" id="lifeformEyes" name="lifeformEyes"readonly>
                </div>

                <div>
                  <button id='randomNose'>Randomize Nose</button>
                  <input type="text" id="lifeformNose" name="lifeformNose"  readonly>
                </div>
                
                <div>
                  <button id='randomEars'>Randomize Ears</button>
                  <input type="text" id="lifeformEars" name="lifeformEars" readonly>
                </div>
                
                <div>
                  <button id='randomSkin'>Randomize Skin</button>
                  <input type="text" id="lifeformSkin" name="lifeformSkin"
                    readonly>
                </div>
                <div>
                  <button id='randomOther'>Randomize Other Features</button>
                  <input type="text" id="lifeformOther" name="lifeformOther"readonly>
                </div>
                
                <div>
                  <button id='randomAbilities'>Randomize Abilities</button>
                  <textarea id="lifeformAbilities" rows="10" cols="80" class="scroll" readonly>
                  </textarea>
                </div>
                
                <div>
                  <button id='generateLifeform'>Generate Completely New Lifeform</button>
                  <br>
                </div>
              </form>
              </div>
            </div>
            <!-- New lifeform form-->
            <div class="dash_column">
              <div class="card">
                <h1 class>New Lifeform</h1>
                <form>
                  <h3>Name:</h3><br>
                  <input type="text" id="name" name="name" readonly><br>
                  <h3>Backstory:</h3><br>
                  <textarea id="backstory" rows="10" cols="80" class="scroll" readonly>
                  </textarea><br><br>
                  Physical Description:<br>
                  <textarea id="physicalDescription" rows="10" cols="80" readonly>
                  </textarea><br>
                  <h3>Abilities:</h3><br>
                  <textarea id="abilities" rows=10 cols="80" class="scroll" readonly>
                    
                  </textarea>
                  <br>
                  <button id="saveLifeform">Save Lifeform</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <%- include('./footer') %>
        <script src="/javascript/homepage.js"></script>
        <script src="/javascript/logout.js"></script>
        <script src="/javascript/randomize.js"></script>
  </body>