<body>


    <div class="container">
        <div class="form-card">
            <div class="option">
                <a href="#" class="option-btn current login">Log In</a>
                <a href="#" class="option-btn signup">Sign Up</a>
            </div>

            <div class="form-container">

                <form action="#" class="form-group" id="login">
                    <h1>Welcome Back!</h1>
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username-login" placeholder="Username" required><br>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password-login" placeholder="Password" required><br>
                    <button><a href="#">Log In</a></button>
                </form>



                <form action="#" class="form-group" id="signup">
                    <h1>Hello There!</h1>
                    <p>Don't have an account? Sign up. Your alien awaits</p>
                    <label for="name">FullName</label>
                    <input type="text" name="name" id="name-signup" placeholder="FullName" required><br>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email-signup" placeholder="email" required><br>
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username-signup" placeholder="Username" required><br>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password-signup" placeholder="Password" required><br>
                    <button><a href="#">Sign Up</a></button>
                </form>

            </div>
        </div>
    </div>

    <script src="../../javascript/login.js"></script>
</body>