<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login-signup.css">
    <title>Login Form</title>
</head>

<body>


    <div class="container">
        <div class="form-card">
            <div class="option">
                <a href="#" class="option-btn current login">Log In</a>
                <a href="#" class="option-btn signup">Sign Up</a>
            </div>

            <div class="form-container">

                <form action="#" class="form-group" id="login">
                    <h1>Welcome Back!</h1>
                    <label for="email">Email</label>
                    <input type="email" id="email-login" placeholder="Email" required><br>
                    <label for="password">Password</label>
                    <input type="password" id="password-login" placeholder="Password" required><br>
                    <button type="submit">Log In</button>
                </form>



                <form action="#" class="form-group" id="signup">
                    <h1>Hello There!</h1>
                    <p>Don't have an account? Sign up. Your alien awaits</p>
                    <label for="username">Username</label>
                    <input type="text" id="username-signup" placeholder="Username" required><br>
                    <label for="email">Email</label>
                    <input type="email" id="email-signup" placeholder="email" required><br>
                    <label for="password">Password</label>
                    <input type="password" id="password-signup" placeholder="Password" required><br>
                    <button type="submit">Sign Up</button>
                </form>

            </div>
        </div>
    </div>

    <script src="/javascript/login.js"></script>
</body>