<main class="nav-content">
    <div class="tab_description display" id="home">
        <h1>Home</h1>
    </div>
    <div class="tab_description" id="dashboard">
        <h1>dashboard</h1>
    </div>
    <div class="tab_description" id="details">
        <h1>Details</h1>
    </div>
</main>