<nav>
    <nav>
        <div class="name-container">
            <h1 class="name"><span>A</span>lien <span>G</span>enerator</h1>
        </div>


        <ul class="nav-links">
            <a href="/" class="link">Home</a>
            <a href="/dashboard" class="link">Dashboard</a>
            <a href="/login" class="link logout">Logout</a>

        </ul>
        <button class="menu-icon"><i class="fas fa-bars"></i></button>

    </nav>
</nav>