<nav>
    <nav>
        <div class="name-container">
           <img src="/assets/images/title.svg">
        </div>


        <ul class="nav-links">
            <a href="/" class="link">Home</a>
            <a href="/create-lifeform" class="link">Create Lifeform</a>
            <a href="/my-lifeforms" class="link">My Lifeforms</a>
            <a href="/" class="link logout">Logout</a>

        </ul>
        <button class="menu-icon"><i class="fas fa-bars"></i></button>

    </nav>
</nav>