<nav>
    <div class="name-container">
        <h1 class="name"><span>A</span>lien <span>G</span>enerator</h1>
    </div>


    <ul class="nav-links">
        <a href="#" class="link active" data-id="home"><i class="fas fa-home"></i>Home</a>
        <a href="#" class="link" data-id="dashboard"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
        <a href="#" class="link" data-id="details"><i class="fas fa-info-circle"></i>Details</a>
        <a href="#" class="link logout"><i class="fas fa-sign-out-alt"></i>Logout</a>

        <div class="contact">
            <p>Having troubles?</p>
            <h4>Contact us</h4>
        </div>
    </ul>
    <button><i class="fas fa-bars"></i></button>

</nav>